@model IEnumerable<ShopModel>
@{
    ViewData["Title"] = "ShopList";
}

<h1> ShopList </h1>



<ul>
    @foreach (var item in @Model)
    {
        <li>@item.ShopItem, @item.ItemPrice $</li>
    }
</ul>